* {
  color: #101010;
}



body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

}

.layout {
  max-width: 1024px;
  background: #f3f3f3;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

img {
  width: 100%;
}

.tittle {
  background-image: url("https://assetsnffrgf-a.akamaihd.net/assets/m/501100023/univ/art/501100023_univ_lsr_lg.jpg");
  width: 100%;
  text-align: center;
}

.thb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
  font-size: 2rem;
}

.cards {
  display: flex;
  align-items: center;
  gap: 32px;
}

.th {
  min-width: 200px;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
}

.th:hover {
  transform: translatey(-8px);
}

.one {
  background: rgba(107, 162, 255, 0.2);
}

.two {
  background: rgba(251, 238, 125, 0.4);
}

.tre {
  background: rgba(255, 106, 95, 0.2);
}

._bg {
  height: 6px;
  width: 250px;
  border-radius: 5px 5px 0 0;
}

.one ._bg {
  background: #4285f4;
}

.two ._bg {
  background: #ffc107;
}

.tre ._bg {
  background: #f44336;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.body p {
  margin: 6px 0;
  font-size: 1.2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
}



/* *** *** */
.ne_pr {
  font-weight: 700;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  gap: 4px;
}





.ul {
  display: grid;
  grid-gap: 8px;
  padding: 8px 0;
}

@media (max-width: 750px) {
  .cards {
    flex-direction: column;
  }
}

/* box */
.iu {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 1px 12px rgb(0 0 0 / 20%);
}

.iu p {
  font-size: 1.2rem;
  color: blue;
  padding: 10px;
}

.mat_ {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}

@media (max-width: 670px) {
  .mat_ {
    gap: 16px;
    justify-content: center;
  }

  .extra {
    text-align: center;
  }
}

.bg_ {
  height: 112px;
  width: 100%;
}

.one_ {
  background-image: url("https://assetsnffrgf-a.akamaihd.net/assets/m/2020400/univ/art/2020400_univ_sqs_lg.jpg");
}

.two_ {
  background-image: url("https://assetsnffrgf-a.akamaihd.net/assets/m/2020401/univ/art/2020401_univ_sqs_lg.jpg");
}